body {
    font-family: Arial, sans-serif;
    background-color: #51e2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.header h1 {
    margin: 0;
    padding-bottom: 20px;
    color: #333;
    text-align: center;
}
.eingabe_feld {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
input {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    min-width: 0;
}
add_btn {
    padding: 10px 20px;
    background-color: #a28089;
    color: #edf756;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.add-btn:hover {
    background-color: #8e6d78;
}
.todo-list {
    width: 100%;
}
.todo-list h2 {
    color: #333;
    text-align: center;
}
#elemente-liste {
    padding: 0;
    list-style: none;
}
.to-do-elemente,
.to-do-elemente-finished {
    background-color: #9df9ef;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    border: 1px solid #ccc;
}
.to-do-elemente-finished {
    background-color: #ffa8b6;
}

.delete-button {
    background-color: #ff4f4f;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.delete-button:hover {
    background-color: #ff3b3b;
}
/* responsive Darstellung für kleinere Displays */
@media (max-width: 600px) {
    .wrapper {
        padding: 15px;
    }

    .input {
        font-size: 14px;
    }

    .add-btn {
        font-size: 14px;
    }

    .to-do-elemente,
    .to-do-elemente-finished {
        padding: 8px;
    }

    .delete-button {
        padding: 4px 8px;
    }
}